<a href="https://colab.research.google.com/github/mutwirivic/week4_ip/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2020_04_Victor_Mutwiri_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import required libraries

In [0]:
#import pandas
import pandas as pd

#import numpy
import numpy as np

#Loading bluecars dataset

In [0]:
#url = http://bit.ly/autolib_dataset

url = 'http://bit.ly/autolib_dataset'

df = pd.read_csv(url,encoding= 'utf-8')

In [3]:
#Display first 10 records of the dataset
df.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

In [4]:
#Display the last 5 records of the dataset
df.tail(5)

                          Address  Cars  Bluecar counter  ...  day  hour  minute
4995          8 avenue MÃ©nelotte     2                2  ...    6    11      26
4996            37 rue de Dantzig     4                4  ...    4    16      56
4997               142 rue du Bac     1                1  ...    1     7       1
4998  2 avenue du Val de Fontenay     2                2  ...    4    17      27
4999          5 Rue Henry Brisson     4                4  ...    8    10       2

[5 rows x 25 columns]

# Display information about the dataset

In [5]:
#describe
df.describe()

              Cars  Bluecar counter  ...         hour       minute
count  5000.000000      5000.000000  ...  5000.000000  5000.000000
mean      2.333600         2.333600  ...    11.509200    29.270000
std       2.035274         2.035274  ...     6.893549    17.231741
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

# Data cleaning

In [0]:
# Drop rows where city is not Paris, month is not April and year is not 2018 and assign the new dataframe to df1
df1 = df[~((df['City']!='Paris') | (df['year']!=2018) | (df['month']!=4))]

In [0]:
#Drop column 'Bluecar counter' because it is equivalent to column cars
df1 = df1.drop(['Bluecar counter'], axis =1)

In [39]:
df1

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
5                   8 Boulevard Voltaire     0  ...     7       2
...                                  ...   ...  ...   ...     ...
4992                     3 avenue d'Ivry     0  ...    23       1
4994                    15 rue de Rocroy     0  ...    20      49
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4999                 5 Rue Henry Brisson     4  ...    10       2

[2816 rows x 24 columns]

In [40]:
#Drop rows where charging status is future because there are no resources
df1 = df1[~(df1['Charging Status']=='future')]
df1

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
5                   8 Boulevard Voltaire     0  ...     7       2
...                                  ...   ...  ...   ...     ...
4992                     3 avenue d'Ivry     0  ...    23       1
4994                    15 rue de Rocroy     0  ...    20      49
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4999                 5 Rue Henry Brisson     4  ...    10       2

[2816 rows x 24 columns]

In [0]:
#Drop column 'displayed comment'
df1 = df1.drop(['Displayed comment'], axis =1)

In [0]:
#Drop rows where Kind = center because there are no resources
df1 = df1[~(df1['Kind']=='CENTER')]

In [0]:
#Drop ID column
df1 = df1.drop(['ID'], axis = 1)

In [0]:
#Drop column 'Geo point'
df1 = df1.drop(['Geo point'], axis =1)

In [57]:
df1['Rental status'].unique()

array(['operational', 'broken', 'future'], dtype=object)

In [0]:
#Drop rows where rental status is not 'operational' or 'broken'
df1 = df1[((df1['Rental status']=='operational') | (df1['Rental status']=='broken'))]

In [65]:
df1['Rental status'].unique()

array(['operational', 'broken'], dtype=object)

In [67]:
df1['Station type'].unique()

array(['station', 'full_station'], dtype=object)

In [77]:
#Check for rows where subscription status = future 
df1[df1['Subscription status']=='future']

Empty DataFrame
Columns: [Address, Cars, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, Kind, Postal code, Public name, Rental status, Scheduled at, Slots, Station type, Status, Subscription status, year, month, day, hour, minute]
Index: []

In [76]:
#Check if there are rows with status = 'schedule'
df1[df1['Status']=='schedule']

Empty DataFrame
Columns: [Address, Cars, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, Kind, Postal code, Public name, Rental status, Scheduled at, Slots, Station type, Status, Subscription status, year, month, day, hour, minute]
Index: []

In [78]:
df1

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
5                   8 Boulevard Voltaire     0  ...     7       2
...                                  ...   ...  ...   ...     ...
4992                     3 avenue d'Ivry     0  ...    23       1
4994                    15 rue de Rocroy     0  ...    20      49
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4999                 5 Rue Henry Brisson     4  ...    10       2

[2804 rows x 21 columns]

In [79]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2804 entries, 0 to 4999
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              2804 non-null   object
 1   Cars                 2804 non-null   int64
 2   Utilib counter       2804 non-null   int64
 3   Utilib 1.4 counter   2804 non-null   int64
 4   Charge Slots         2804 non-null   int64
 5   Charging Status      2804 non-null   object
 6   City                 2804 non-null   object
 7   Kind                 2804 non-null   object
 8   Postal code          2804 non-null   int64
 9   Public name          2804 non-null   object
 10  Rental status        2804 non-null   object
 11  Scheduled at         0 non-null      object
 12  Slots                2804 non-null   int64
 13  Station type         2804 non-null   object
 14  Status               2804 non-null   object
 15  Subscription status  2804 non-null   object
 16  year                 2804 non-null   int64
 17  month                2804 non-null   int64
 18  day                  2804 non-null   int64
 19  hour                 2804 non-null   int64
 20  minute               2804 non-null   int64
dtypes: int64(11), object(10)
memory usage: 481.9+ KB